// Fallback google fonts
// @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto:wght@300;400&display=swap');

@import url("https://use.typekit.net/hcd8vgd.css");

* {
  // font-family: 'Roboto',
  //   sans-serif;
  font-family: "skolar-sans-latin",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Arvo',
  //   serif;
  font-family: oxtail,
    serif;
}

.small-screen-only {
  @media(max-width: $breakpoint-xs-max) {
    display: block;
  }

  @media(min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.larger-screen-only {
  @media(max-width: $breakpoint-xs-max) {
    display: none;
  }

  @media(min-width: $breakpoint-sm-min) {
    display: block;
  }
}

.constrain {
  max-width: 975px;
  margin: 0 auto;
}
