@import url("https://use.typekit.net/hcd8vgd.css");

* {
  font-family: skolar-sans-latin, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: oxtail, serif;
}

.small-screen-only {
  @media(max-width: $breakpoint-xs-max) {
    display: block;
  }

  @media(min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.larger-screen-only {
  @media(max-width: $breakpoint-xs-max) {
    display: none;
  }

  @media(min-width: $breakpoint-sm-min) {
    display: block;
  }
}

.constrain {
  max-width: 975px;
  margin: 0 auto;
}
