@font-face {
  font-family: customFonts;
  src: url("https://use.typekit.net/hcd8vgd.css");
}

html {
  font-family: "skolar-sans-latin", sans-serif;
}

// Break points
$phone-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;

  
// Media queries
@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

