// src/css/quasar.variables.scss

$primary: #302225;
$secondary: #f4c4bd;
$accent: #d28aa0;

$brown: #644132;
$blue: #6C7194;
$dark: #1d1d1d;

$positive: #6bc955;
$negative: #ff6d6d;
$info: #3d8cf3;
$warning: #f3cf3d;
